<div class="row-fluid wrapper">
<div class="span3" id="search">
         <%= render partial: "participantSearch", locals: {:date => @date, :location => @location}%>
</div>
<div class="span9" id="participants">
<%= render "participants"%>
</div>
</div>
