<ul class="breadcrumb">
        <li><%= link_to "Training on #{@date.to_date}", training_training_sessions_path(@training)%> <span class="divider">/</span></li>
    <li class="active">Participants</li>
<table class="table table-striped table-bordered table-hover table-condensed">
  <tr>
    <th>Name</th>
  </tr>
  <% @judges.each do | judge|%>
  <tr>
  <td><%= judge.name%></td>
  <td><%= link_to "show", judge, class: "btn btn-primary btn-mini"%></td>
  </tr>
  <%end%>
 </table>
