<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @judge.name %>
</p>

<br />
<br />
<%= link_to 'Edit', edit_judge_path(@judge), class: "btn" %> |
<%= link_to 'Back', judges_path, class: "btn" %>

