<%set_meta_tags :nofollow => true%>
<div class="row-fluid wrapper">
<div class="span3" id="search">
<%= render "trainingsSearch"%>
</div>
<div class="span9" id="trainings_for_judges">
  <%= render "trainingspartial"%>
</div>
</div>
