<%set_meta_tags :title => 'Judgements', :reverse => true%>
<div class="row-fluid wrapper">
<div class="span3" id="search">
<%= render "search"%>
</div>
<div class="span9" id="cases">
  <%= render "cases"%>
</div>
</div>

