<aside>
	<ul class="nav nav-list">
		<li class="nav-header">
			<h4>Reports</h4>
		</li>
		<li>
			<a href="/assets/pdf1.doc"><img src="assets/pdf.png"> Praesent mauris ante, elementum</a>
		</li>
		<li>
			<a href="/assets/pdf2.doc"><img src="assets/pdf.png"> Pellentesque habitant morbi </a>
		</li>
		<li>
			<a href="/assets/pdf3.doc"><img src="assets/pdf.png"> Mauris vel lacus vitae felis vestibulum volutpat</a>
		</li>
		<li>
			<a href="/assets/pdf4.pdf"><img src="assets/pdf.png"> Nunc tempus felis vitae urna. Vivamus</a>
		</li>
		<li>
			<a href="/assets/pdf5.pdf"><img src="assets/pdf.png"> Phasellus felis dolor, scelerisque a, tempus eget</a>
		</li>
		<li>
			<a href="/assets/pdf5.pdf"><img src="assets/pdf.png"> Phasellus felis dolor, scelerisque a, tempus eget</a>
		</li>
		<li>
			<a href="/assets/pdf5.pdf"><img src="assets/pdf.png"> Curabitur vel mi sit amet magna malesuada ultrices.</a>
		</li>
		<li>
			<%= link_to "More reports", reports_path%>
		</li>

	</ul>
</aside>
