<div class="row-fluid">
	<div class="span8 content">
		<p>
			This site is dubbed “Court decisions on refugee issues” and is meant to keep an easy to access record of decisions made by judges, magistrates and Kadhis on issues relating to the protection of refugees and/ or IDPS/ stateless persons in Kenya.
		</p>
		<p>
			This follows the sub-agreement terms of the <a href="http://www.unhcr.org " target="_blank">UNHCR</a> and <a href="http://www.kmja.or.ke" target="_blank">Kenya Magistrate and Judges Association(KMJA)</a> programme that allows for the decisions made by various un-sensitized and or (especially) sensitized judicial officers on matters of protection, repatriation and other issues brought before them by, against or on behalf of refugees, IDPs or stateless persons to be used as a Monitoring and Evaluation tool for the programme.
			It is meant to measure the growth of the understanding of issues refugees by the targeted population of the training workshops. Decisions made before a particular judicial officer is trained/ sensitized through the workshop are measured against decisions made after the training workshop.
		</p>
	</div>
	<div class="span4">
		<%= render "latestnews"%>
	</div>
</div>
