<div data-role="page" data-theme="a">
  <div data-role="header">
  <h1>decision matter on refugees</h1>
  </div>
  <div data-role="content">
  kfldkf lkf lkflkflkd flk
  </div>
  <div data-role="footer">
  </div>
</div>
