<div class="row-fluid">
  <div class="span9 content">
  	<h4>THE KMJA FORCED MIGRATION PROGRAMME</h4>
  	<p>
In the year 2008, KMJA commenced a programme on protection on displaced persons dubbed ‘The sensitization of judicial officers on International Protection and Refugee Law with the UNHCR’. Negotiations for the same started in the year 2007. The programme involved organizing training of trainers’ (ToT) workshops to train the members who would in turn act as resource persons for the purposes of training other members of the judiciary. The training workshops targeted judges and magistrates only.
</p><p>The first ToT took place in April, 2008 at the Sarova Simba Lodge in Naivasha. The concept was to enhance ownership of the programmes and incorporate the experience of the trainers who are judicial officers in enhancing the sensitivity to the issues touching on coerced displacement by judicial officers and use the international laws as well as the Refugee Act 2006 and other national legislations in protecting the rights of refugees and other forcibly displaced persons.
The concept of the programme is to sensitize the judicial officers such that they can use the laws available to identify persons of concern and protect them. </p><p>KMJA engaged other stakeholders in the programme especially the Department of Refugee Affairs, the Kituo Cha Sheria and the Refugee Consortium of Kenya (RCK).
Each year, there was done a training of trainers both to increase the pool of trainers in efforts to reach all judges and magistrates and also to update the existing pool of trainers on changes in the laws as well as emerging best practices in the field of refugee protection.
Initially, the programme was funded by the Swiss government through the UNHCR but as from the year 2010, the programme became funded by the UNHCR and contributed efforts by KMJA.
</p><p>In the year 2012, KMJA and UNHCR decided to incorporate the court user committees in the programme in a thinking that sought to include all the arms/ stakeholders involved in the processing of refugees/ IDPS in the country together to sensitize them on international protection as well as enable coordination of efforts in the process of protecting refugees/ IDPs as well as stateless persons.
During the workshop, the following topics are considered;
<ul>
<li>Introduction to International Refugee Protection: The Historical Evolution / Refugee Definition and UNHCR mandate</li>
<li>The Principle of Non Refoulement, other Rights and Obligations of Refugees under International, Regional and National legal Frameworks</li>
<li>Protecting Refugees within Broader migration flow- mixed migration, human trafficking, smuggling</li>
<li>Statelessness</li>
<li>Defining and Protecting Internally Displace Persons ( IDPs).</li>
<li>Protecting Vulnerable Refugee Groups: An AGDM Approach.</li>
<li>Refugee Status Determination - Doctrines and procedure.</li>
<li>Definition of a Refugee under Int’l &amp Domestic Law, elements of Inclusion, Rejection, Exclusion, Cessation, Cancellation &amp Revocation.</li>
<li>Role of Actors in refugee protection.</li>
<li>Refugee management, practice and policy in Kenya.</li>
<li>Refugee rights, responsibilities and offences under the Refugees Act 2006.</li>
<li>Facilitation skills: Approaches, tools, methodology and concepts of effective facilitation: Dynamics of effective co-facilitation.</li>
<li>Experience sharing.</li>
</ul>
  </p>
  </div>
  <div class="span3">
    <%= render "latestnews"%>
  </div>
</div>
