// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
#logos{
  margin-bottom: none;
  background: #132530;
  #kmja_logo{
    img{
      float: right;
    }
  }
  h2{
    text-align: center;
    color: white;
  }
}

#main_nav{
  background: #132530;
  ul{
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 10px;
    list-style-type: none;
    li{
    display: inline;
    a{
      font-family: Verdana,Geneva,sans-serif;
      padding: 10px;
      color: rgb(252, 249, 215);
      &:hover{
        color: #EAB410;
        text-decoration: none;
      }
    }
    }
  }
}
#main-content{
    margin-left: 10%;
    margin-right: 10%;
    #parties textarea{
      height: 35px;
       }
    #cases{
     padding: 20px;
      .case{
        padding: 30px;
        border-bottom: 1px inset #132530;
        h4{
          text-align: center;
        }
        p{
          span{
            font-weight: bold;
          }
        }
      }
    }
    #search{
      margin-top: 50px;
         padding: 5px;
         border-radius: 5px;
         box-shadow:  1px 1px 1px 1px #132530;
         #case_search{
      input, select{
        margin-bottom: 10px;
      }
      .search_buttons{
        width: 100%;
      }
    }
       }
  
  #myCarousel{
    img{
      width: 100%;
    }
  }
  aside{
    border-left: 1px dashed #82BB0D;
    .nav-header{
      h4{
        color:#82BB0D;
        }
     h4{
       color: #EAB410;
       }
     }
     }
     .content{
       #about_us{
         margin-bottom: 50px;
       }
       #partners{
       }
       h2{
         text-align: center;
       }
       h4{
         text-align: left;
       }
       p{
         font-size: 1.2em;
         letter-spacing: .05em;
         line-height: 140%;
         }
         ul{
           font-size: 1.2em;
           line-height: 140%;
           padding: 2px;
           li{
             padding: 2px;
             }
          }
    }
    
}