// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
#logos{
  margin-bottom: none;
  background: #132530;
  #kmja_logo{
    img{
      float: right;
    }
  }
  h2{
    color: #FF6600;
    text-align: center;
  }
  h5{
    color: white;
    text-align: center;
  }
}
#admin_nav{
 background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
 ul{
   margin-left: 20%;
 } 
}

#main_nav{
    background-color: #FF6600;
    padding: 15px 25px;
    box-shadow: 5px 5px 5px rgb(102, 102, 102);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
  ul{
    margin-left: 33%;
    list-style-type: none;
    li{
      margin-right: 5%;
      display: inline;
    a{
      font-size: 1.2em;
      font-family: Verdana,Geneva,sans-serif;
      color: #132530;
      text-shadow: #eee 0px 1px 0px;
      &:hover{
        
        text-shadow:  #132530 0px 1px 0px;
        color: #858687;
        transition: all 1s;
        text-decoration: none;
      }
    }
    }
  }
}
#main-content{
  min-height: 100%;
   #gallery{
     padding: 0px;
     margin: 0px;
     img{
       width: 150px;
       height: 110px;
       margin: -2px;
       padding: 0;
       border: none;
       &:hover{
         transform: scale(1.2);
         transition: all 1s
       }
     }
   }
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    h1, h2, h3, h4, h5 {
      font-family: Georgia,Times,"Times New Roman",serif;
      font-weight: 300;
      color: rgb(1, 135, 197);;
      text-align: center;
    }
    #parties textarea{
      height: 35px;
       }
    #cases{
      border: 1px solid rgb(204, 204, 204);
      background: none repeat scroll 0% 0% white;
      padding: 20px;
      .case{
        font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
        color: rgb(27, 27, 27);
        padding: 30px;
        border-bottom: 1px inset rgb(204, 204, 204);
        &:nth-child(odd){
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        border-bottom: 1px solid  rgb(225, 225, 225);
        border-top: 1px solid  rgb(225, 225, 225);
      }
        h3{
          text-align: center;
        }
        p{
          span{
            color: rgb(1, 135, 197);
          }
        }
      }
    }
    #search{
      background: none repeat scroll 0% 0% white;
      border: 1px solid rgb(204, 204, 204);

         #case_search{
           margin-left: 5%;
           input, select{
             margin-bottom: 10px;
            }
      .search_buttons{
        width: 94%;
      }
    }
       }
  
  aside{
    background: none repeat scroll 0% 0% white;
    border: 1px solid rgb(204, 204, 204);
    .nav-header{
     h4{
       text-align: center;
       color: #EAB410;
       }
     }
     }
     .content{
       padding: 15px;
       background: none repeat scroll 0% 0% white;
       border: 1px solid rgb(204, 204, 204);
       #about_us{
       }
       &#partners{
          margin-top: 20px;
       }
       h2, h3, h4{
         text-align: center;
       }
       p{
         font-size: 1.2em;
         letter-spacing: .05em;
         line-height: 140%;
         }
         ul{
           font-size: 1.2em;
           line-height: 140%;
           padding: 2px;
           li{
             padding: 2px;
             }
          }
    }
    #contact_us{
      p{
         font-size: 1.2em;
         letter-spacing: .05em;
         line-height: 140%;
         }
    }
    .contact_form{
      list-style-type: none;
    }
    
}

footer{
  margin-top: 3%;
  bottom: 0px;
  background: #132530;
  padding: 10px;
  color: white;
}
