// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
@import "bootstrap-responsive";


#logos{
  margin-bottom: none;
  background: #132530;
  h2, h4{
    color: #FF6600;
    text-align: center;
  }
  h5{
    font-style: italic;
    color: white;
    text-align: center;
  }
}
@media (min-width: 980px){
       #main_nav{
       background-color: #FF6600;
       padding: 15px 25px;
       box-shadow: 5px 5px 5px rgb(102, 102, 102);
     background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
     background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
     background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
    .navbar-inner{
       border: none;
       background-color: #FF6600;
     background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
    background-image: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
     background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);
    background-image: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.4) 45%, rgba(255, 255, 255, 0) 55%);       
     .container{
          ul{
	  margin-left: 25%;
            li{
              a{
               font-size: 1.5em;
	       font-family: Verdana,Geneva,sans-serif;
	       color: #132530;
	       text-shadow: #eee 0px 1px 0px;
	       font-style: bold;
               &:hover{
	       text-shadow: #132530 0px 1px 0px;
	       color: #858687;
	       transition: all 1s;
	       text-decoration: none;
	       }
              }
            }
          }
        }
     }
  }
}
#admin_nav{
 ul{
   margin-left: 20%;
 } 
}
#main-content{
  min-height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: -1%;
    padding: 0;
    h1, h2, h3, h4, h5 {
      font-family: Georgia,Times,"Times New Roman",serif;
      font-weight: 300;
      color: rgb(1, 135, 197);;
      text-align: center;
    }
  
   #myCarousel{
        padding: 0px;
	background: url('preloader.gif') no-repeat;
        background-position: 50% 50%;
         img{
             display: inline;
             width: 50%;
             height: 260px;
             -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
     	}
     
    }
    #objective{
     -webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;

	 }   
    #flags, #arms{
      margin: 2px;
      img{
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 39.9%;
      }
    }

    #parties textarea{
      height: 35px;
     }
    #reports{
      border: 1px solid rgb(204, 204, 204);
      background: none repeat scroll 0% 0% white;
      padding: 20px;
      .report{
        font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
        color: rgb(27, 27, 27);
        padding: 30px;
        border-bottom: 1px inset rgb(204, 204, 204);
        &:nth-child(odd){
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        border-bottom: 1px solid  rgb(204, 204, 204);
        border-top: 1px solid  rgb(204, 204, 204);
      }
      p{
          span{
            color: rgb(1, 135, 197);
          }
        }
    }
    }
    .wrapper{
     background: none repeat scroll 0% 0% white;
     background-image: -moz-linear-gradient(left, white 0%,white 23.4%, #F4F6FF 23.4%, #F4F6FF 100%);
     background-image: -webkit-linear-gradient(left, white 0%,white 23.4%, #F4F6FF 23.4%, #F4F6FF 100%);
     background-image: -o-linear-gradient(left, white 0%,white 23.4%, #F4F6FF 23.4%, #F4F6FF 100%);
     background-image: -linear-gradient(left, white 0%,white 23.4%, #F4F6FF 23.4%, #F4F6FF 100%); 
    }
     #judgement{
      border: 1px solid rgb(204, 204, 204);
      background: none repeat scroll 0% 0% white;
      padding:20px;
        font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
        color: rgb(27, 27, 27);
        border-bottom: 1px inset rgb(204, 204, 204);
        h3{
          text-align: center;
        }
        p{
          span{
            color: rgb(1, 135, 197);
          }
        }
    }

    #cases{
      border: 1px solid rgb(204, 204, 204);
      background: none repeat scroll 0% 0% white;
      padding: 20px;
      .case{
        font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif;
        color: rgb(27, 27, 27);
        padding: 30px;
        border-bottom: 1px inset rgb(204, 204, 204);
        &:nth-child(odd){
        background: none repeat scroll 0% 0% rgb(245, 245, 245);
        border-bottom: 1px solid  rgb(204, 204, 204);
        border-top: 1px solid  rgb(204, 204, 204);
      }
        h3{
          text-align: center;
        }
        p{
          span{
            color: rgb(1, 135, 197);
          }
        }
      }
    }
    #search{
     
         .search_form{
     	  margin-left: 5%;
           input, select{
             margin-bottom: 10px;
            }
           -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
      .search_buttons{
           width: 220px;
      }
    }
       }
  
     .content{
       padding: 15px;
       background: none repeat scroll 0% 0% white;
       border: 1px solid rgb(204, 204, 204);
       #about_us{
       }
       &#partners{
          margin-top: 20px;
            img{
            width: 200px;
            }
            #jti{
             img{
               height: 50px;
               width: 100px;
            }}

          
       }
       h2, h3, h4{
         text-align: center;
       }
       p{
         font-size: 1.2em;
         letter-spacing: .05em;
         line-height: 140%;
         }
         ul{
           font-size: 1.2em;
           line-height: 140%;
           padding: 2px;
           li{
             padding: 2px;
             }
          }
    }
    #contact_us{
      p{
         font-size: 1.2em;
         letter-spacing: .05em;
         line-height: 140%;
         }
    }
    .contact_form{
      list-style-type: none;
    }
    #flag{
     margin-bottom: 10px;
     }
}

footer{
  margin-top: 3%;
  bottom: 0px;
  background: #132530;
  padding: 10px;
  color: white;
}
