// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
#parties textarea{
  height: 35px;
}

.hero-unit{
  padding-top: 10px;
  p{
    font-family: "League Gothic";
    span{
      font-weight: bold;
    }
    &.parties{
      text-align: center;
      font-weight: bold;
      font-family: "League Gothic";
      font-size: 1.5em;
    }
  }
}