// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
#main_nav{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 10%;
  margin-left: 10%;
  border-bottom: 4px solid #82BB0D;
  ul{
    list-style-type: none;
    margin-left: 25%;
    li{
    display: inline;
    a{
      color: #82BB0D;
      &:hover{
        color: #EAB410;
        text-decoration: none;
      }
    }
    }
  }
}
#main-content{
  margin-left: 10%;
  margin-right: 10%;
#parties textarea{
  height: 35px;
}

 aside{
   border-left: 1px dashed #82BB0D;
   .nav-header{
     h4{
     color:#82BB0D;
     }
     h4{
       color: #EAB410;
     }
   }
 }
.content{
  p{
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 140%;
}
  ul{
  font-size: 1.2em;
  line-height: 140%;
  padding: 2px;
  li{
    padding: 2px;
  }
  }
}
.hero-unit{
  padding-top: 0.2px;
  padding-bottom: 40px;
  h4{
    text-align: center;
    border-radius: 6px;
    color: #0044CC;
  }
  h2{
    text-align: center;
  }
  figure{
    img{
      padding: 5px;
      border: 1px solid black;
      background: white;
      box-shadow: 2px 2px 4px rgba(0,0,0,.5);
    }
    figcaption{
      
    }
  }
}

.search_buttons{
  width: 75%;
}
}
#logos{
  background: #EAB410;
#kmja_logo{
    img{
      float: right;
    }
  }
  h2{
    text-align: center;
  }
}