// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  &.p{
    text-indent: 25px;
    margin-bottom: 20px;
    padding: 5px;
    font: 100% "Trebuchet MS",Tahoma,Verdana,Helvetica,sans-serif;
    line-height: 1;
    color: rgb(70, 70, 70);
  }
}

.toplogos{
  h1{
    text-align: center;
  }
}