<footer>
	<div class="row-fluid">
		<div class="span8">
			<p class="offset4">
	Copyright © 2013 The Kenya Magistrates and Judges Association. All Rights Reserved
	</p>
	</div>
	<div class="span4">
	<%= link_to "Contact Us", contact_us_path%>
	</div>
</div>
</footer>
