<div class="row-fluid" id ="logos">
    <div class="span2 hidden-phone">
      <a href="http://www.kmja.or.ke" target="_blank" title="The kenya magistrates and judges association" class="offset3"><%= image_tag "kmja_log.png"%></a>
    </div>
    <div class="span8 title">
      <h2 class ="hidden-phone">COURT DECISIONS ON REFUGEE MATTERS</h2>
       <h4 class ="visible-phone">COURT DECISIONS ON REFUGEE MATTERS</h4>
      <p>
        <h5>No human being is illegal</h5>
      </p>
    </div>
    <div class="hidden-phone span2">
      <a href="http://www.unhcr.org" target="_blank" title="UNHCR"><%= image_tag "unhcr_logo.png"%></a>
    </div>
  </div>
