<div class="row-fluid" id ="logos">
    <div class="span2" id="kmja_logo">
      <a href="http://www.kmja.or.ke" target="_blank" title="The kenya magistrates and judges association"><%= image_tag "logo.png"%></a>
    </div>
    <div class="span8 title">
      <h2>COURT DECISIONS ON REFUGEE ISSUES</h2>
    </div>
    <div class="span2">

      <a href="http://www.unhcr.org" target="_blank" title="UNHCR"><%= image_tag "unhcr3.jpeg"%></a>
    </div>
  </div>